.content {
    right: 0;
    display: inline-flex;
    height: 100%;
    background-color: aliceblue;
    flex-direction: column;
}

.content-tab-set {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 2em;
    margin: 1em 0 1em 0;
    padding: 0 2em;
    background-color: white;
    box-shadow: 0 .5em 1em rgba(0, 0, 0, .15);
    z-index: 2;
    overflow-x: auto;
    overflow-y: hidden;
}

.content-tab-set::-webkit-scrollbar {
    height: .5em;
    background-color: white;
    box-shadow: inset 0 .125em 0.25em 0 rgba(0, 0, 0, .08);
}

.content-tab-set::-webkit-scrollbar-thumb {
    background-color: #5aaeff;
}

.content-tab-item {
    display: inline-flex;
    align-items: center;
    height: 2em;
    margin: 0 1em;
    padding: 1em;
    font-size: .75em;
    font-weight: bold;
    border-left: 1px solid rgb(222, 226, 230);
    border-right: 1px solid rgb(222, 226, 230);
    box-shadow: 0 .5em 1em rgba(0, 0, 0, .15);
    border-radius: 1em;
    user-select: none;
    z-index: 3;
}

.content-tab-item[custom-active='false']:hover {
    background-color: rgb(240, 241, 242);
}

.content-tab-item[custom-active='true'] {
    background-color: dodgerblue;
    color: white;
}

.content-tab-item-x {
    display: flex;
    align-items: center;
    margin-left: .25em;
    border-radius: 50%;
}

.content-tab-item[custom-active='false'] > .content-tab-item-x:hover {
    background-color: dodgerblue;
    color: white;
}

.content-tab-item[custom-active='true'] > .content-tab-item-x:hover {
    background-color: #1872cc;
}

.content-tab-item-x:active {
    transform: scale(0.9);
}

.content-tab-btn {
    display: inline-flex;
    align-items: center;
    height: 100%;
    margin: 0 1em;
    color: dodgerblue;
}

.content-tab-btn > svg {
    border-radius: 50%;
}

.content-tab-btn > svg:hover {
    background-color: rgb(240, 241, 242);
}

.content-tab-btn > svg:active {
    background-color: rgb(220, 221, 222);
}

.content-tab-btn[aria-expanded='true'] > svg {
    background-color: rgb(220, 221, 222);
}

.content-page {
    /*noinspection CssInvalidPropertyValue*/
    height: -webkit-fill-available;
    overflow-y: auto;
}

.content-page-card {
    display: flex;
    margin: 1em 2em;
    background-color: white;
    border-radius: .5em;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, .15);
}

.content-page-task-card-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: .5em 1em;
    border-bottom: 1px solid #dee2e6;
}

.content-page-task-card-item > .header {
    padding: .25em 0;
    margin: 0 1em;
    text-align: start;
    font-size: 1em;
    font-weight: bold;
    word-break: normal;
    border-bottom: 1px solid #dee2e6;
    user-select: none;
}

.content-page-task-card-item > .body {
    align-items: center;
    font-size: .75em;
    padding: .25em 0;
    color: darkgray;
}

.content-page-task-card-item > .body:before {
    margin: 0 .5em 0 1.5em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='.5em' height='.5em' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='dodgerblue' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.content-page-task-card-item > .card-round-btn {
    width: 1.75em;
    height: 1.75em;
    color: dodgerblue;
    background-color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: .5em;
}

.content-page-task-card-item > .card-round-btn:hover {
    color: white;
    background-color: dodgerblue;
}

.content-page-task-card-item > .card-round-btn:active {
    transform: scale(0.9);
}

.content-page-task-card-item > .alert-btn {
    color: firebrick !important;
    background-color: white !important;
}

.content-page-task-card-item > .alert-btn:hover {
    color: white !important;
    background-color: firebrick !important;
}

.content-page-task-card-item > .info-header {
    margin-left: 1em;
    user-select: none;
    font-size: 1.25em;
    font-weight: bold;
}

.content-page-task-card-item > .info-title {
    width: 20%;
    display: flex;
    align-items: center;
    user-select: none;
    margin-left: .5em;
    font-weight: bold;
    word-break: break-all;
}

.content-page-task-card-item > .info-text {
    border-left: 1px solid rgb(222, 226, 230);
    padding-left: 1em;
    width: 100%;
    word-break: break-all;
}

.content-page-task-card-item > .info-paste {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-right: .5em;
    padding: 0 .5em;
}

.content-page-task-card-item > .info-paste:hover {
    background-color: rgb(222, 226, 230);
    cursor: copy;
}

.content-page-config-card {
    display: flex;
    flex-direction: column;
    margin: 1em 2em;
    word-break: break-all;
}

.content-page-config-card > .card-header {
    margin-right: auto;
    background-color: white;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, .15);
}

.card-header > .extra-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-header > .extra-btn:hover {
    background-color: #e6e6e6;
    cursor: pointer;
}

.card-header > .extra-btn:active {
    background-color: #cccccc;
}

.content-page-config-card > .card-body {
    background-color: white;
    border-top-right-radius: .5em;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, .15);
}

.card-body > .extra-item {
    border-top: 1px solid #dee2e6;
    padding: .25em .5em;
    margin: 0 .5em;
}

.extra-item > .extra-add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 2em;
    color: dodgerblue;
    border-radius: 50%;
    font-size: 1.25em;
}

.extra-item > .extra-add-btn:hover {
    background-color: #e6e6e6;
    cursor: pointer;
}

.extra-item > .extra-add-btn:active {
    background-color: #cccccc;
}

.extra-item > .extra-x-btn {
    display: inline-flex;
    width: 1em;
    height: 1em;
    padding: 0;
    border-radius: 50%;
    font-size: 1em;
    color: red;
}