/*noinspection CssInvalidPropertyValue*/
html, body {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}

body {
    max-width: 100vw;
    max-height: 100vh;
}

main {
    display: flex;
    max-height: 100vh;
    max-width: 100vw;
    height: 100%;
    flex-direction: row;
}

.top-shadow {
    height: .5em;
    top: -0.5em;
    position: absolute;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.15);
    width: 100%;
    z-index: 5;
}

/* */
.btn-cs-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5em;
    width: 1.5em;
    color: dodgerblue;
    border-radius: 50%;
    font-size: 1.25em;
}

.btn-cs-circle:hover{
    background-color: #e6e6e6;
    cursor: pointer;
}

.btn-cs-circle:active{
    background-color: #cccccc;
}

/* */
.user-select-none {
    user-select: none !important;
}

.position-relative {
    position: relative !important;
}

.position-absolute {
    position: absolute !important;
}